{
    // Required
    "hostname": "examplehost.example.com",
    "secretcredentials": "example-system-creds",

    // Optional
    "windowsize": "1024x768", 
    "vaultname": "custom-keyvault" 
}
